docs/_build
lib_managed
project/boot/
project/plugins/project/
src_managed
target
logs

.cotest/
.DS_Store
*.iws
*.ipr
*.iml
.ensime
.manager
.project
.settings
.classpath
.scala_dependencies
.idea
.hide
.target
*.sublime-project
*.sublime-workspace
.multi-jvm/
.cache
RUNNING_PID
*.pyc
~
/manager/logs
/manager/project/project
/manager/project/target
/manager/target
/manager/tmp
/manager/bin
/monitor/manager/bin
/console/bin
.jvmopts
var/
